.footer {
	background-color: $base;
	padding-top: 45px;
	padding-bottom: 30px;

	&__top {
		margin-bottom: 50px;
		@media screen and (max-width: $ipad-mini) {
			margin-bottom: 25px;
		}
		&-inner {
			display: flex;
			justify-content: flex-start;
			@media screen and (max-width: $ipad-mini) {
				flex-wrap: wrap;
				justify-content: space-around;
			}
			@media screen and (max-width: $iphone) {
				flex-direction: column;
			}
		}
		&-subscribe {
			max-width: 295px;
			margin-right: 150px;
			@media screen and (max-width: $ipad-pro) {
				margin-right: 100px;
			}
			@media screen and (max-width: $ipad-mini) {
				margin-right: 0px;
			}
			@media screen and (max-width: $iphone) {
				margin-bottom: 40px;
				margin-left: auto;
				margin-right: auto;
				text-align: center;
			}
		}
		&-title {
			font-family: "SFProDisplay-Bold", sans-serif;
			font-weight: 700;
			font-size: 14px;
			line-height: 17px;
			margin-bottom: 34px;
		}
		&-form {
			display: flex;
			justify-content: flex-start;
			&__input {
				border: none;
				background-color: $white;
				font-weight: 400;
				font-size: 14px;
				line-height: 17px;
				padding: 0 12px;
				&::placeholder {
					color: $light-grey;
				}
			}
			&__btn {
				font-family: "SFProDisplay-Semibold", sans-serif;
				font-weight: 600;
				font-size: 11px;
				line-height: 13px;
				letter-spacing: 0.12em;
				text-transform: uppercase;
				color: $white;
				border: none;
				background-color: $accent;
				padding: 10px 16px;
			}
		}
		&-nav {
			display: flex;
			justify-content: flex-start;
			@media screen and (max-width: $iphone) {
				flex-direction: column;
				align-items: flex-start;
				margin-bottom: 40px;
				margin-left: 20px;
				margin-right: 20px;
			}
			&__info {
				margin-right: 100px;
				@media screen and (max-width: $ipad-pro) {
					margin-right: 50px;
				}
				@media screen and (max-width: $iphone) {
					margin: 0;
					width: 100%;
					border-top: 2px solid $light-grey;
				}
			}
			&__commerce {
				margin-right: 100px;
				@media screen and (max-width: $ipad-pro) {
					margin-right: 50px;
				}
				@media screen and (max-width: $ipad-mini) {
					margin-right: 0;
				}
				@media screen and (max-width: $iphone) {
					margin: 0;
					width: 100%;
					border-top: 2px solid $light-grey;
					border-bottom: 2px solid $light-grey;
				}
			}
		}
		&-list {
			@media screen and (max-width: $iphone) {
				display: none;
			}
			&__title {
				font-family: "SFProDisplay-Bold", sans-serif;
				font-weight: 700;
				font-size: 14px;
				line-height: 17px;
				position: relative;
				pointer-events: none;
				@media screen and (max-width: $iphone) {
					padding: 16px 0;
					pointer-events: auto;
					&::before {
						content: "";
						background-image: url("../images/icons/arrow-dropdown.svg");
						background-repeat: no-repeat;
						position: absolute;
						right: 0;
						bottom: 19px;
						width: 14px;
						height: 9px;
						transition: all 0.3s;
					}
					&--active {
						&::before {
							transform: rotate(180deg);
						}
					}
				}
			}
			&__item {
				margin-top: 5px;
				font-weight: 400;
				font-size: 14px;
				line-height: 17px;
				@media screen and (max-width: $iphone) {
					margin-top: 0;
					margin-bottom: 5px;
				}
			}
		}
		&-socials {
			display: flex;
			align-items: center;
			@media screen and (max-width: $ipad-mini) {
				margin-top: 20px;
			}
			@media screen and (max-width: $iphone) {
				margin: 0 auto;
			}
			.socials__list {
				display: flex;
			}
			.socials__list-item {
				margin-right: 30px;
				a {
					width: 30px;
					height: 30px;
					display: inline-block;
				}
				@media screen and (max-width: $iphone) {
					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}
	&__bottom {
		display: flex;
		justify-content: center;
		align-items: center;
		@media screen and (max-width: $iphone) {
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
		}
		&-link {
			font-weight: 400;
			font-size: 10px;
			line-height: 12px;
			margin: 0 40px;
			@media screen and (max-width: $iphone) {
				margin: 0;
				margin-bottom: 12px;
			}
		}
	}
}
