.section__product-card {
	margin-top: 44px;
	margin-bottom: 82px;
	&__inner {
		display: flex;
		justify-content: space-between;
		@media screen and (max-width: $iphone) {
			flex-direction: column-reverse;
			align-items: center;
		}
	}
}
.product-card {
	&__img-box {
		max-width: 500px;
		text-align: center;
		position: relative;
		&::before {
			font-size: 15px;
			line-height: 18px;
			letter-spacing: 0.12em;
			padding: 13px 26px;
			border-radius: 3px;
		}
		@media screen and (max-width: $ipad-mini) {
			padding-right: 30px;
		}
		@media screen and (max-width: $iphone) {
			padding-right: 0;
		}
	}
	&__img-wrapper {
		margin-top: 64px;
		margin-bottom: 17px;
		width: 500px;
		@media screen and (max-width: $ipad-mini) {
			width: 350px;
		}
		@media screen and (max-width: $iphone) {
			width: auto;
		}
	}
	&__img {
	}
	&__price-old {
		display: inline-block;
		font-family: "Barlow", sans-serif;
		font-weight: 400;
		font-size: 30px;
		line-height: 36px;
		opacity: 0.6;
		margin-bottom: 6px;
		background-image: url("../images/icons/crossline-card.svg");
		background-repeat: no-repeat;
		background-position: -3px -3px;
		background-size: cover;
	}
	&__price-new {
		font-family: "Barlow", sans-serif;
		font-weight: 700;
		font-size: 40px;
		line-height: 48px;
		margin-bottom: 17px;
	}
	&__price-link {
		font-weight: 400;
		font-size: 15px;
		line-height: 18px;
		color: $accent;
	}
	&__content {
		max-width: 570px;
		.tabs-wrapper {
			@media screen and (max-width: $iphone) {
				display: none;
			}
		}
	}
	&__title {
		font-family: "SFProDisplay-Bold", sans-serif;
		font-weight: 700;
		font-size: 30px;
		line-height: 36px;
		margin-bottom: 10px;
		@media screen and (max-width: $ipad-mini) {
			font-size: 25px;
		}
	}
	&__code {
		font-size: 15px;
		line-height: 18px;
		opacity: 0.6;
		margin-bottom: 22px;
	}
	&__rate-buttons {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 50px;
		.rate-button__favorite {
			display: inline-block;
			height: 22px;
			margin-right: 29px;
		}
		.rate-button__comparison {
			display: inline-block;
			height: 27px;

			margin-right: 25px;
		}
		.rate-button__scale {
			height: 23px;

			display: inline-block;
		}
	}
	&__tabs {
		margin-bottom: 10px;
	}
	&__tab {
		font-size: 20px;
		line-height: 24px;
		opacity: 0.6;
		padding-bottom: 5px;
		margin-right: 34px;
		&.tab--active {
			opacity: 1;
			border-bottom: 2px solid $accent;
			font-family: "SFProDisplay-Bold", sans-serif;
			font-weight: 700;
		}
		@media screen and (max-width: $ipad-mini) {
			margin-right: 10px;
			font-size: 17px;
			line-height: 17px;
		}
	}
	&__tab-content {
	}
	&__list {
		margin-bottom: 20px;
		@media screen and (max-width: $ipad-mini) {
			font-size: 16px;
		}
	}
	&__item {
		display: flex;
		justify-content: space-between;
		padding: 15px 0 6px;
		border-bottom: 1px solid rgba(47, 48, 53, 0.1);
	}
	&__item-key {
		padding-right: 20px;
	}
	&__item-value {
		width: 125px;
	}
	&__more {
		font-size: 14px;
		line-height: 17px;
		color: $accent;
		border-bottom: 1px solid $accent;
		margin-bottom: 45px;
		display: inline-block;
	}
	&__btn {
		&-group {
		}
		&-buy {
			font-size: 14px;
			line-height: 17px;
			letter-spacing: 0.12em;
			text-transform: uppercase;
			color: #ffffff;
			background-color: $accent;
			border-radius: 3px;
			padding: 16px 53px;
			border: none;
			cursor: pointer;
			&.btn-buy--mobile {
				display: none;
				padding: 16px 100px;
				@media screen and (max-width: $iphone) {
					display: block;
					margin: 20px auto;
				}
			}
		}
	}
}
