.section-search {
	margin-bottom: 80px;
	&__inner {
	}
	&__tabs {
		margin-bottom: 37px;
		&-link {
			padding: 11px 26px 12px;
			display: inline-block;
			@media screen and (max-width: $iphone) {
				margin-bottom: 5px;
			}
			&.tab--active {
				background: $base;
				border-radius: 5px;
				font-weight: 700;
				font-family: "SFProDisplay-Bold", sans-serif;
			}
		}
	}
	&__content {
		&-item {
		}
		&-form {
			display: flex;
			position: relative;
		}
		&-input {
			width: 1025px;
			background: $base;
			border-radius: 3px;
			border: none;
			padding: 5px 20px;
			font-weight: 400;
			font-size: 16px;
			line-height: 19px;
			&::placeholder {
				color: #656464;
			}
			@media screen and (max-width: $iphone) {
				padding: 15px 50px 15px 20px;
			}
		}
		&-btn {
			font-weight: 700;
			font-size: 14px;
			line-height: 17px;
			letter-spacing: 0.12em;
			text-transform: uppercase;
			color: $white;
			padding: 17px 40px 16px;
			background: $accent;
			border-radius: 3px;
			border: none;
			margin-left: -3px;
			@media screen and (max-width: $iphone) {
				font-size: 0px;
				line-height: 0px;
				padding: 20px;
				background: transparent;
				color: transparent;
				position: absolute;
				right: 10px;
				bottom: 4px;
				background-image: url("../images/icons/search-icon.svg");
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}
}
